body,
button,
input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 0.9rem;
    line-height: 1.975;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

input {
    padding: 0.125em .875em
}

.single main{
    padding: 1.5rem;
}
/* * {
    border-radius: 5px;
} */

footer {
    border-radius: 0px;
}

pre {
    tab-size: 4;
    line-height: 1.6;
    border-radius: 2px;
}

.search input:focus {
    outline: none;
    box-shadow: inset 0 0 0 0px;
}

/* #menu-search a{
    display: none;
} */

/* .site-header .header-info {
    display: none;
} */

/* .logo {
    display: none;
}


::-webkit-scrollbar {
    display: none;
} */